.components {
    display: flex;
    flex-direction: row;
    width: 500px;
    flex-wrap: wrap;
}

.component {
    margin: 10px;
    padding: 0;
    border: 1px red solid;
    width: 30px;
    height: 30px;
    text-align: center;

}

.numbers {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    flex-wrap: wrap;
}

.number {
    margin: 10px;
    padding: 0;
    border: 1px red solid;
    width: 30px;
    height: 30px;
    text-align: center;

}

.calculator {
    display: flex;
    margin-top: 30px;
    width: 500px;
}

.body__input {
    border: 1px black solid;
    height: 20px;
    width: 400px;
    margin-bottom: 10px;
}


.operators {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    flex-wrap: wrap;
}

.operator {
    margin: 10px;
    padding: 0;
    border: 1px red solid;
    width: 30px;
    height: 30px;
    text-align: center;

}

.history {
    min-width: 400px;
}