.root_lesson_2{
    display: flex;
}
.menu_container{
    display: flex;
    width: 74px;
    height: 432px;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 25px;
    padding-right: 7px;
}
.menu-icon{
    width: 24px;
    height: 24px;
}
.shorts{
    display: flex;
    flex-direction: column;
}
.header{
    margin-bottom: 0px;
}
.logo-container{
    display: flex;
    height: 56px;
    border-bottom: solid gainsboro 1.5px ;
   
}
.logo{
    margin-right: 150px;
}
.form-container{
    display: flex;
    padding-top: 10px;
}
.img-logo{
    width: 120px;
    height: 70px;
}

.form-input{
    height: 30px;
    width: 550px;
}
.header-menu{
    border-bottom: solid gainsboro 1.5px ;
}
.nav-list{
    display: flex;
    justify-content: center;
    padding-left: 0px;
   
}
.nav-list-item{
    margin-right: 10px;
    padding: 5px 18px;
    border-radius: 2px;
    border-radius: 15px;
    background-color: gainsboro;
    list-style-type: none;
}
.nav-link{
    color: black;
    text-decoration: none;
}
.link-next{
    list-style-type: none;
    padding-top: 5px;
    margin-left: 10px;
}
.next{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
.btn{
    border-radius: 0;
    background-color: gainsboro;
    padding: 10px;
}
.btn-voice{
    border-radius: 20px;
    background-color: gainsboro;
    padding: 10px;
    margin-left: 10px;
}

.img-micro{
    width: 15px;
    height: 15px;
}
/* button{
    padding: 0px;
} */
.camera{
    width: 24px;
    height: 24px;
    margin-left: 200px;
    margin-top: 5px;

}
.ring{
    width: 27px;
    height: 27px;
    margin-top: 3px;
    margin-left: 15px;
}

.section-content-list{
    display: flex;
    margin: 0px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #F5F5F5;
    
}

.section-content-item{
    list-style-type: none;
    background-color: #F5F5F5;
    width: 287px;
    padding-bottom: 0px;
    margin-right: 23px;
}

.section-advantages-item:not(:last-child){
    margin-right: 23px;
}
.section-content-item-description{
    padding-left: 24px;
    padding-right: 24px;
}
.link{
    text-decoration: none;
    color: black;
}