div{
  border: 1px green solid;
  min-height: 10px;
  min-width: 10px;
  max-width: 600px;
  max-height: 600px;
}
.preRoot{
  display:flex;
  flex-direction: row;
}

.keyBoard{
  margin:2px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:150px;
  justify-items: center;
}

.myKey{
  width: 40px;
  height: 40px;
  margin:2px;
  border:2px solid black;
  text-align: center;
  font-weight: bold;
}
.history-block{
  min-width: 185px;
}
.history{
  border: 1px solid black;
  padding: 5px;
  min-height: 10px;
  min-width: 10px;
}
.result{
  border: 1px solid black;
  padding: 5px;
  min-height: 25px;
  min-width: 400px;
}